# Refactored from 'Titanic Data Journey.ipynb'

In [8]:
from titanic_package.data_load import data_load, data_missing, data_frequent

ImportError: cannot import name 'data_frequent' from 'titanic_package.data_load' (/Users/lsahar/Documents/Projects/D100_ps1_ex4_titanic/titanic_package/data_load.py)

## Read the Data

In [3]:
train_df, test_df = data_load()

## Few statistics on the data

### Missing data

In [4]:
data_missing(train_df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Total,0,0,0,0,0,177,0,0,0,0,687,2
Percent,0.0,0.0,0.0,0.0,0.0,19.86532,0.0,0.0,0.0,0.0,77.104377,0.224467
Types,int64,int64,int64,object,object,float64,int64,int64,object,float64,object,object

In [5]:
data_missing(test_df)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Total,0,0,0,0,86,0,0,0,1,327,0
Percent,0.0,0.0,0.0,0.0,20.574163,0.0,0.0,0.0,0.239234,78.229665,0.0
Types,int64,int64,object,object,float64,int64,int64,object,float64,object,object

### Most frequent data

In [6]:
data_frequent(train_df)

NameError: name 'data_frequent' is not defined